* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 1rem;
  width: 93vw;
  height: 97vh;
  margin: 0 auto;
  background: #EEE;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

header {
  background: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
}

header h1 {
  margin-left: 16px;
}

header ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

header li {
  float: left;
  padding-left: 10px;
}

header li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
}

header li a:hover {
  background-color: #666;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.addform {
  display: flex;
}

.addfield {
  flex: 10;
  padding: 5px;
  min-width: 0;
}

.addbutton {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.addbutton:hover {
  background: #666;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0;
}

tr.listitem:hover {
  background: darkslategrey;
  color: lightgray
}

th {
  text-align: left;
  border: none;
}

td {
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
}

td.listemployeeid {
  width: 5%;
}

td.listemployeename {
  width: 20%;
}

td.listemployeesales {
  width: 75%;
}

button.deletion {
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  float: right;
}
button.deletion:hover {
  background: darkred;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}